<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testing</title>
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous">
    </script>
    <script>
        // sends the coordinates of a click to the code to save it to the database
    function MousePos(event) {
        let x = event.clientX
        let y = event.clientY;

  $.post( "/savedata", { X: x, Y: y, tbl: "tblhomeclicks"} );
    }

    document.addEventListener("click", MousePos);
    </script>
</head>

<body>
    <!-- example text -->
    <h1>The Prototype!</h1>
    <p>This page will store the coordinates of wherever you click</p>
</body>
</html>